services:
  mt5:
    build:
      dockerfile: Dockerfile
    container_name: mt5
    ports:
      - "5001:5001" # Flask API port
      - "3000:3000" # VNC port
    volumes:
      - ./config:/config
    networks:
      - default
    env_file:
      - .env
    restart: unless-stopped

networks:
  default:
    driver: bridge
